header
{
    font-family: 'Oswald', 'sans-serif';
    font-size: 48px;
    text-align: center;
    background-color: RGBA(0, 0, 0, .6);
    color: darkgoldenrod;
}
nav
{
    background-color: RGBA(184, 124, 11, .6 );
    text-align: center;
    font-size: 18px;
    font-family: 'Oswald', 'sans-serif';
}
body
{
    background-color: dimgrey;
    height: 100%;
}
p 
{
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
}
h1
{
    font-family: 'Oswald';
    font-size: 48px; 
    text-align: center;
}
ul
{
    font-family: 'Oswald';
    font-size: 22px;
}
li
{
    font-family: 'Oswald';
    font-size: 16px;
}
a
{
    font-family: 'Oswald';
}
ul
{
    list-style-type: none;
    padding-left: 62px;
    text-indent: -62px;
}
li
{
        font-size: 28px;
}
.column
{
    float: left;
    width: 50%;
}
.row:after
{
    content: "";
    display: table;
    clear: both;
}
footer
{
    position: sticky;
    font-size: 38px;
    text-align: center;
    color:black;
}